@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/Admin_layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url('../img/200.jpg');
            Background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .container {
            width: 70%;
            padding: 20px;
            margin: 100px auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .box {
            width: 250px;
            margin: 0 10px;
            box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
            transition: 1s;
        }

            .box img {
                display: block;
                width: 175px;
                height: 300px;
                border-radius: 7px;
            }

            .box:hover {
                transform: scale(1.3);
                z-index: 2;
            }

        h2 {
            text-transform: capitalize;
            font-family: Georgia, serif;
            color: brown;
        }

        p {
            text-transform: capitalize;
            font-family: Georgia, serif;
            color: brown;
            position: relative;
            margin: 10px;
            text-align: center;
            width: 900px;
            height: 20px;
            font-weight: bold;
            position: relative;
            left: 10%;
            font-size: larger;
        }

        .logo {
            position: relative;
            bottom: 150px;
            right: 80px;
        }

    </style>
</head>
<body>

    <form asp-controller="SellerHome" asp-action="sellerhome">
    <div class="title">
        <img class="logo" src="/img/tion1-removebg-preview.png" alt="" width="30%" height="40%">
        <p>
            When you create something,
            you feel joy, but sharing with
            the people involved in doing it
            can move your mind and improve your mood.
        </p>
    </div>
    <div class="container">
            <a class="nav-link text-dark" asp-area="" asp-controller="SellerHome" asp-action="product" asp-route-categoryID="3">
            <div class="box">
                <img src="~/img/80.jpg" alt="" width="100%" height="100%">
                <div class="intro">
                    <h2>Earthenware</h2>
        </a>
    </div>

    </div>
    <div class="box">
            <a class="nav-link text-dark" asp-area="" asp-controller="SellerHome" asp-action="product" asp-route-categoryID="2">
            <img src="~/img/106.jpg" alt="" width="100%" height="100%">
        </a>
        <div class="intro">
            <h2>Crochet</h2>
        </div>
    </div>
    <div class="box">

            <a class="nav-link text-dark" asp-area="" asp-controller="SellerHome" asp-action="product" asp-route-categoryID="6">
            <img src="~/img/20.jpg" alt="" width="100%" height="100%">
        </a>
        <div class="intro">
            <h2>Tapestry</h2>
        </div>
    </div>
    <div class="box">
            <a class="nav-link text-dark" asp-area="" asp-controller="SellerHome" asp-action="product" asp-route-categoryID="4">
            <img src="~/img/11.jpg" alt="" width="100%" height="100%">
        </a>
        <div class="intro">
            <h2>Makrama</h2>
        </div>
    </div>
    <div class="box">
            <a class="nav-link text-dark" asp-area="" asp-controller="SellerHome" asp-action="product" asp-route-categoryID="1">
            <img src="~/img/57.jpg" alt="" width="100%" height="100%">
        </a>
        <div class="intro">
            <h2>Accessories</h2>
        </div>
    </div>
    </div>
    </form>
</body>
</html>
