@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/Admin_layout.cshtml";
}
@model List<product>

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url('../img/1.jpg');
            Background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .title {
            font-family: Georgia, serif;
            font-weight: bold;
        }
        /* .srch1 {
                    border: 2px solid #ccc;
                    padding: 3px 5px 3px 13px;
                    width: 100px;
                    border: 1.5px solid;
                    border-radius: 5px;
                }

                input[type=search]:focus {
                    width: 30%;
                }



                td {
                    background-color: rgba(228, 179, 144, 0.7);
                    padding: 5px;
                    border-radius: 20px;
                    margin-left: 3%;
                    margin-bottom: 2%;
                    width: 5%;
                }

                    td :hover {
                        opacity: 7;
                        transform: translateY(-5px);
                    }

                .srch {
                    position: relative;
                    bottom: 35px;
                    left: 60%;
                }

                .chart {
                    position: relative;
                    left: 35%;
                    border-radius: 5px;
                }*/
    </style>
</head>
<body>
    <div>
        <h2 class="title">Tapestry</h2>
        @*<form class="srch">
        <input class="srch1" type="search" placeholder="Search...">
        <button class="bs" type="submit">Search</button>
        </form>*@
    </div>
    <div class="container">
        <div class="row-cols-xxl-1">
            <div class="col-md-3 mb-3">
                @foreach (var item in Model)
                {
                    <div>
                        @item.product_ID
                    </div>
                    <img class="img-card" src="@item.img" style="height:20%;width:20%" />
                    <ul class="list-group">
                        <li class="list-group-item">@item.product_code</li>
                        <li class="list-group-item">@item.product_price</li>
                    </ul>
                }
            </div>
        </div>
       
        @* <table>
        <dt>
        <tr>
        <td>
        <img src="~/img/crochet/1.jpg" alt="" width="100%" height="100%"><br>
        <span>code:21</span><br>
        <span>The price:</span><br>
        <button class="chart">Add To Chart</button>
        </td>
        <td>
        <img src="~/img/crochet/23d1672789c595918c946c1c7eee8718.jpg" alt="" width="100%" height="100%"><br>
        <span>code:22</span><br>
        <span>The price:</span><br>
        <button class="chart">Add To Chart</button>
        </td>
        <td>
        <img src="~/img/crochet/2ec6cf41503f12758d223bd94ed89976.jpg" alt="" width="100%" height="100%"><br>
        <span>code:23</span><br>
        <span>The price:</span><br>
        <button class="chart">Add To Chart</button>
        </td>
        <td>
        <img src="~/img/crochet/Cinnamon.Blanket.2_d6f60436-114d-4dbe-a33a-4443204be4ba_600x.webp" alt="" width="100%" height="100%"><br>
        <span>code:24</span><br>
        <span>The price:</span><br>
        <button class="chart">Add To Chart</button>
        </td>
        </tr>
        <tr>
        <td>
        <img src="~/img/crochet/d58d85229ed6c86ecb5bb0a931f029f7.jpg" alt="" width="100%" height="100%"><br>
        <span>code:25</span><br>
        <span>The price:</span><br>
        <button class="chart">Add To Chart</button>
        </td>
        <td>
        <img src="~/img/crochet/download.jpg" alt="" width="100%" height="100%"><br>
        <span>code:26</span><br>
        <span>The price:</span><br>
        <button class="chart">Add To Chart</button>
        </td>
        <td>
        <img src="~/img/crochet/handmade-crochet-bags-by-adriana-melo-03-e1622277479304.jpg" alt="" width="100%" height="100%"><br>
        <span>code:27</span><br>
        <span>The price:</span><br>
        <button class="chart">Add To Chart</button>
        </td>
        <td>
        <img src="~/img/crochet/horizontal_.jpg" alt="" width="100%" height="100%"><br>
        <span>code:28</span><br>
        <span>The price:</span><br>
        <button class="chart">Add To Chart</button>
        </td>
        </tr>
        <tr>
        <td>
        <img src="~/img/crochet/il_570xN.3606310392_muqc.webp" alt="" width="100%" height="100%"><br>
        <span>code:29</span><br>
        <span>The price:</span><br>
        <button class="chart">Add To Chart</button>
        </td>
        <td>
        <img src="~/img/crochet/il_570xN.4207668291_5bb7.webp" alt="" width="100%" height="100%"><br>
        <span>code:210</span><br>
        <span>The price:</span><br>
        <button class="chart">Add To Chart</button>
        </td>
        <td>
        <img src="~/img/crochet/il_794xN.605460057_mz9h-e1555861215841.jpg" alt="" width="100%" height="100%"><br>
        <span>code:211</span><br>
        <span>The price:</span><br>
        <button class="chart">Add To Chart</button>
        </td>
        <td>
        <img src="~/img/crochet/il_fullxfull.760053119_qa0a.webp" alt="" width="100%" height="100%"><br>
        <span>code:212</span><br>
        <span>The price:</span><br>
        <button class="chart">Add To Chart</button>
        </td>
        </tr>
        <tr>
        <td>
        <img src="~/img/crochet/images (1).jpg" alt="" width="100%" height="100%"><br>
        <span>code:213</span><br>
        <span>The price:</span><br>
        <button class="chart">Add To Chart</button>
        </td>
        <td>
        <img src="~/img/crochet/images (2).jpg" alt="" width="100%" height="100%"><br>
        <span>code:214</span><br>
        <span>The price:</span><br>
        <button class="chart">Add To Chart</button>
        </td>
        <td>
        <img src="~/img/crochet/images (3).jpg" alt="" width="100%" height="100%"><br>
        <span>code:215</span><br>
        <span>The price:</span><br>
        <button class="chart">Add To Chart</button>
        </td>
        <td>
        <img src="~/img/crochet/images (4).jpg" alt="" width="100%" height="100%"><br>
        <span>code:216</span><br>
        <span>The price:</span><br>
        <button class="chart">Add To Chart</button>
        </td>
        </tr>
        </dt>
        </table>*@
        <form asp-action="sellerhome" asp-controller="SellerHome" dir="rtl">
            <input type="submit" value="Back" class="btn-dark" style="width:100px" />
        </form>
</body>
</html>