@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url('../img/1.jpg');
            Background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .srch1 {
            border: 2px solid #ccc;
            padding: 3px 5px 3px 13px;
            width: 100px;
            border: 1.5px solid;
            border-radius: 5px;
        }

        input[type=search]:focus {
            width: 30%;
        }

        .title {
            font-family: Georgia, serif;
            font-weight: bold;
        }

        td {
            background-color: rgba(228, 179, 144, 0.7);
            padding: 5px;
            border-radius: 20px;
            margin-left: 3%;
            margin-bottom: 2%;
            width: 5%;
        }

            td :hover {
                opacity: 7;
                transform: translateY(-5px);
            }

        .srch {
            position: relative;
            bottom: 35px;
            left: 60%;
        }

        .chart {
            position: relative;
            left: 35%;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div>
        <h2 class="title">Earthenware</h2>
        
    </div>
    <table>
        <dt>
        <tr>
            <td>
                <img src="~/img/60.jpg" alt="" width="100%" height="100%"><br>
                <span>code:31</span><br>
                <span>The price:</span><br>
               
            </td>
            <td>
                <img src="~/img/61.jpg" alt="" width="100%" height="100%"><br>
                <span>code:32</span><br>
                <span>The price:</span><br>
          
            </td>
            <td>
                <img src="~/img/62.jpg" alt="" width="100%" height="100%"><br>
                <span>code:33</span><br>
                <span>The price:</span><br>
        
            </td>
            <td>
                <img src="~/img/63.jpg" alt="" width="100%" height="100%"><br>
                <span>code:34</span><br>
                <span>The price:</span><br>
               
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/img/64.jpg" alt="" width="100%" height="100%"><br>
                <span>code:35</span><br>
                <span>The price:</span><br>
          
            </td>
            <td>
                <img src="~/img/65.jpg" alt="" width="100%" height="100%"><br>
                <span>code:36</span><br>
                <span>The price:</span><br>
              
            </td>
            <td>
                <img src="~/img/66.jpg" alt="" width="100%" height="100%"><br>
                <span>code:37</span><br>
                <span>The price:</span><br>
                
            </td>
            <td>
                <img src="~/img/67.jpg" alt="" width="100%" height="100%"><br>
                <span>code:38</span><br>
                <span>The price:</span><br>
               
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/img/68.jpg" alt="" width="100%" height="100%"><br>
                <span>code:39</span><br>
                <span>The price:</span><br>
             
            </td>
            <td>
                <img src="~/img/69.jpg" alt="" width="100%" height="100%"><br>
                <span>code:310</span><br>
                <span>The price:</span><br>
                
            </td>
           
    </table>
    <form asp-action="index" asp-controller="home" dir="rtl">
        <input type="submit" value="Back" class="btn-dark" style="width:100px" />
    </form>
</body>
</html>